*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerxlogo{
    height: 110px;
    background-color: #4587D4;
    background-image: url(../img/pattern.png);
    background-size: 29%;
}

.logo{
    width:170px ;
    height:170px ;
    padding-left: 5px;
    padding-bottom: 5px;
}

h1{
    padding-top: 20px;
}

#address {
    text-decoration: none;
    color: #66B2D2;
    font-style: normal;
}

.data{
    font-size: small;
}

figure {
padding-top: 18px;
}

figcaption{
    font-size: small;
}

mark{
    background-color: #FEFF05;
}

.testi{
    padding-top: 15px;
    padding-bottom: 15px;
}